$font-main: #212221;
$font-gray: #747473;
$font-blue: #1181B2;
$font-white: #FBFAFA;
$bg-main: #1181B2;
$bg-blue: #AADDF1;
$bg-lightblue: #DEEEF4;
$bg-black: #212221;
$bg-white: #FBFAFA;
$neutral-1: #9795A6;
$neutral-2: #EAE7EA;
$neutral-3:#E4E3E7;